# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# vercel deployment files
.vercel/

# Archivos no deseados específicos
src/components/SlugMapGenerator.astro
src/pages/debug-urls.astro
src/lib/themeDebug.js
src/pages/filmografias.astro.new
src/pages/url-redirector.astro
src/pages/filmografias-updated.astro
src/env.d.ts
src/csp.js
src/utils/security.js
src/pages/film/
src/pages/pelicula/
src/pages/peliculas/
