---
// Spinner con logo que gira
---

<style>
  .spin {
    animation: spin 4s linear infinite;
  }
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
</style>

<div class="flex justify-center items-center h-20">
  <img
    src="https://res.cloudinary.com/dxytyvnn2/image/upload/v1755533379/logo_wakd6k_xzbwdq.png"
    alt="RodaYRodar Spinner Logo"
    class="h-12 w-auto spin dark:brightness-90"
  />
</div>